@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}
body {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}
.wrapper {
  position: relative;
  background: #fff;
  max-width: 550px;
  width: 100%;
  margin: 50px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.wrapper header {
  font-size: 30px;
  font-weight: 600;
}
.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField input:focus {
  border-color: #8e49e8;
}
.inputField button {
  width: 100px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  padding: 0px;
  font-size: 21px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
  opacity: 1;
}
.inputField button:hover,
.footer button:hover {
  background: #721ce3;
}
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}
/* .todoList li {
  position: relative;
  list-style: none;
  height: 60px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 6px 15px;
} */
/* .todoList li .icon {
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon {
  right: 0px;
} */

/* date-conntainer css started */
.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  cursor: default;
  overflow: hidden;
  list-style: none;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 5px;
}
.date-container {
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.date__year {
  font-size: 0.75rem;
}

.date__day {
  font-size: 1rem;
  font-weight: bold;
}

.todo-name {
  text-align: center;
}
.strike-text {
  text-decoration: line-through;
  text-decoration-color: #8e49e8;
}
.custom-checkbox {
  width: 1rem;
  height: 1rem;
}
.icons {
  display: flex;
  gap: 0.4rem;
}
.icon-edit {
  background: #e74c3c;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.todoList li .icon {
  background: #e74c3c;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.todoList li:hover .icon {
  right: 0px;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8e49e8;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  opacity: 1;
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.31);
}
.popup-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-icon {
  width: 3rem;
  height: 3rem;
}
.list-title {
  text-align: center;
}
